form .form-group label {
	font-weight: 600;
	text-transform: uppercase;
	font-size: 13px;
}
.addressDiv {
	padding-left: 20px;
}
.addressLine {
	font-weight: bold;
}
.cardContainer {
	width: 75%;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}
.card {
	padding: 20px 30px;
}
.addressTotal {
	padding-top: 20px;
	padding-bottom: 50px;
}
.addressTotal i {
	padding-top: 5px;
}

@media all and (max-width: 1200px) and (min-width: 360px) {
	.cardContainer {
		width: 98%;
	}
	.card {
		padding: 10px 20px;
	}
	.addressTotal {
	padding-top: 10px;
	padding-bottom: 30px;
}
}
