body {
	background-color: white;
	overflow-x: hidden;
}
ul li a.active {
	color: white;
	background-color: #051643;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 30px;
	border-radius: 50rem;
	margin-top: 5px;
}
.navTopLeft {
	width: 75%;
	transform: skew(-30deg);
	margin-left: -5%;
	background-color: #051643;
	color: white;
}
.navSecLeft .logo {
	margin-left: 60%;
	height: 70px;
	transition: 0.4s;
}
.navTopText {
	transform: skew(30deg);
	margin-left: 60%;
}
.navFix {
	position: fixed;
	z-index: 99;
	width: 100%;
	top: 10;
}
.navtop {
	display: flex;
	transition: 0.4s;
}

.navTopRight {
	width: 35%;
	transform: skew(-30deg);
	margin-right: -5%;
	background-color: #ddd;
}
.navTopRightIcon {
	transform: skew(30deg);
	margin-right: 20%;
}
.navSecLeft {
	width: 35%;
	transform: skew(-30deg);
	margin-left: -5%;
	background-color: #051643;
}
.navSecLeftImg {
	transform: skew(30deg);
}
.navSecRight {
	width: 75%;
	transform: skew(-30deg);
	margin-right: -5%;
	background-color: #ddd;
}
.navSecRightNav {
	transform: skew(30deg);
	padding-top: 0.8rem;
	transition: 0.4s;
}
.navC {
	color: black !important;
	font-weight: 600;
}

#carouselId {
	margin-top: 85px;
}
.address {
	width: 92%;
}
.containerNav {
	width: 94%;
	margin: auto;
}
.social {
	color: #1e73be;
	font-size: 20px;
	font-weight: 400;
	line-height: 1;
	padding: 0px 6px;
}
.socialN {
	color: #1e73be;
	font-size: 20px;
	font-weight: 400;
	line-height: 1;
	padding: 0px 15px;
}
.social1 {
	color: #1e73be;
}
.navbar {
	color: black;
	font-weight: 600;
}
.dotDiv {
	height: 4px;
	width: 5px;
	background-color: #ff9900;
}
.dotDiv2 {
	height: 4px;
	width: 100px;
	background-color: #ff9900;
}
.carousel {
	width: 100%;
}
.carousel-inner {
	width: 100%;
}
.carousel-inner img {
	width: 100%;
	height: 500px;
}
.carousel-indicators li {
	width: 10px;
	height: 10px;
	border-radius: 100%;
}
.pr {
	color: black;
	font-weight: 600;
	font-size: 24px;
}
.ch {
	color: black;
	font-weight: 550;
	font-size: 17px;
}
.hc {
	text-align: center;
	font-size: 15px;
}
.storyDes {
	text-align: justify;
	color: gray;
}
.wlc_Clr {
	color: #ff9900;
	font-size: 18px;
	font-weight: 800;
}
.parallax {
	position: relative;
	background-image: url(../img/parallax.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.text {
	font-size: 30px;
	font-weight: 700;
	color: white;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.text .btn {
	color: white;
	background-color: #0b7cac;
}
.full {
	position: relative;
	height: 400px;
	width: 350px;
	border: none !important;
	outline: none !important;
}
.topic {
	background-color: white;
	width: 250px;
	position: absolute;
	border-left-width: 50%;
	border-bottom-width: 50%;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -70%);
	border-radius: 5px;
}
.topicImg {
	background-color: #051643;
	height: 50px;
	width: 50px;
	border-radius: 5px;
	transition: all 0.7s ease-out;
	object-fit: contain;
	position: relative;
}
.topicImg img {
	height: 25px;
	width: 25px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.topicBody {
	margin-top: 5px;
}
.readMore {
	font-weight: bold;
	color: #051643;
}

.commentCard {
	height: 200px;
}
.quoteDiv {
	background-color: #ff9900;
	margin-left: auto;
	padding: 8px 8px;
}
.cmntTitle {
	font-size: 20px;
	color: #0b7cac;
	font-weight: 600;
}
.button__left-right {
	background: linear-gradient(to right, #051643 50%, #fff 50%);
	background-size: 200% 100%;
	background-position: bottom right;
	transition: all 0.7s ease-out;
}

.button__left-right:hover {
	background-position: bottom left;
	color: #fff;
}

.button__left-right:hover .topicImg {
	background-color: #0b7cac;
}

.button__left-right:hover .readMore {
	color: #0b7cac;
}

.footer {
	background-color: #f0f3f4;
	padding-top: 40px;
	padding-bottom: 20px;
}
.footerContainer,
.storyContainer {
	width: 85%;
	margin: auto;
}
.fI {
	font-size: 28px;
	padding: 0px 15px;
}
.b1 {
	border-width: 0 0 0 3px;
	border-style: solid;
	border-color: #0b7cac;
	padding-left: 15px;
	margin-left: 15px;
}
.fL {
	list-style: none;
}
.fL a {
	text-decoration: none;
	color: #454360;
}
.fl a:hover {
	color: #0b7cac;
}
.fIP {
	padding: 10px 0px;
}
.fII {
	color: #0b7cac;
	font-size: 15px;
	padding: 10px 15px;
}
.fTT {
	font-size: 14px;
	font-weight: 800;
}
.fAdd {
	font-size: 13px;
	letter-spacing: normal !important;
}
.cR {
	font-size: 12px;
	padding-top: 50px;
}
.pRow {
	width: 100vw;
	overflow-x: scroll;
}
.pRow::-webkit-scrollbar {
	height: 5px;
	/* background-color: #0b7cac; */
}
.pRow::-webkit-scrollbar-thumb {
	background: #0b7cac;
	border-radius: 50rem;
}
.pImg {
	height: 230px;
}

.nChange {
	margin-top: 100px;
}

@media all and (max-width: 1338px) and (min-width: 360px) {
	.address {
		margin-left: -100%;
	}
	.containerNav {
		width: 100%;
	}
	.navbar {
		margin-top: -30px;
	}
	.mediaFlex {
		margin-bottom: 2rem;
	}
	.pricingDiv {
		width: 100%;
	}
	.carousel-item {
		height: 40vh;
	}
	.footerContainer,
	.storyContainer {
		width: 100%;
	}
	.parallax {
		background-size: contain;
	}
	.text {
		font-size: 24px;
		margin-top: 15rem !important;
	}
	.storyContainer img {
		width: 100% !important;
		height: 400px !important;
	}
	.pr {
		text-align: center;
	}
	.navtop {
		display: none !important;
	}
	.navFix {
		top: 0;
	}
}

/* @media (orientation: landscape){} */
/* hamburger */
.hamburger {
	display: none;
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: #101010;
}

/* end */
.nav-menu {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

@media all and (max-width: 768px) {
	.nav-menu {
		position: fixed;
		z-index: 1;
		left: 650%;
		top: 5rem;
		flex-direction: column;
		background-color: #fff;
		border-radius: 10px;
		text-align: center;
		transition: 0.3s;
		box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
		width: 400%;
	}

	.nav-menu.active {
		left: -315%;
	}

	.nav-item {
		margin: 1.5rem;
		padding-right: 50px;
	}

	.hamburger {
		display: block;
		cursor: pointer;
		margin-left: 60%;
	}
	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}

	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}

	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}
	.navSecLeft .logo{
		margin-left: 20%;
	}
	.navSecLeft{
		width: 80%;
		margin-left: -10%;
	}
	.navSecRight{
		width: 20%;
		background-color: white;
	}
	.navFix{
		background-color: #fff;
	}
}
